*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: 'Quicksand';
	color:black;
	height: 100vh;
	flex-direction: column;
	background-position: center;
	background-size:cover;
}
#time{
	font-size: 8rem;
}
h1{
	margin-bottom: 1rem;
}
h2{
	font-size: 48px;
	opacity: 0.5;
}
h3{
	font-size: 32px;
	opacity: 0.7;
	margin-top: 20px;
}